<nav class="navbar bg-black navbar-expand-sm border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand d-flex flex-column lh-1 fw-medium fs-4" href="/private/panel/">
        <span class="m-0 fw-bold" style="color: #d40000;">GLOBAL</span>
        <span class="m-0">AUTOPARTS</span>
      </a>
      <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto fw-medium fs-6 text-center">
          <li class="nav-item">
            <a class="nav-link active" href="/private/panel/" name="panel">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/private/administration/" name="administration">ADMINISTRACION</a>
          </li>
        </ul>
      </div>
    </div>
</nav>